.outer {
  width: 700px;
  height: 700px;
  margin: 0 auto;
  border: 1px solid black;
}
.canvas {
  width: 80%;
  height: 80%;
  margin: 2% auto;
  /*border: 1px solid black;*/
}
.pixel {
  float:left;
  width: 5.8%;
  height: 5.8%;
  border: 1px solid black;
}

.paint {
  margin: 1% auto;
  text-align: center;
  display: block;
}

.selected {
  text-align: center;
  margin: 1% auto;
}

.pixelEx {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.heading {
  text-align: center;
  margin: 0;
}
